package ${convertPackage};

import java.util.List;
import org.mapstruct.Mapper;
import ${package.Entity}.${entity};
import ${voPackage}.${voName};

/**
 * $!{table.comment} 转换类
 * @author ${author}
 * @date ${cfg.datetime}
 */
@Mapper(componentModel = "spring")
public interface ${convertName} {
    /**
     * ${entity}转${voName}
     *
     * @param ${poInstName} ${entity}
     * @return ${voName}
     * @author ${author}
     * @date ${cfg.datetime}
     */
    ${voName} convertTo(${entity} ${poInstName});

    /**
     * ${voName}转回${entity}
     *
     * @param ${voInstName} ${voName}
     * @return ${entity}
     * @author ${author}
     * @date ${cfg.datetime}
     */
    ${entity} convertFrom(${voName} ${voInstName});

    /**
     * ${entity}列表转${voName}列表
     *
     * @param ${poInstName}List ${entity}列表
     * @return List<${voName}>
     * @author ${author}
     * @date ${cfg.datetime}
     */
    List<${voName}> convertToList(List<${entity}> ${poInstName}List);

    /**
     * ${voName}列表转回${entity}列表
     *
     * @param ${voInstName}List ${voName}列表
     * @return List<${entity}>
     * @author ${author}
     * @date ${cfg.datetime}
     */
    List<${entity}> convertFromList(List<${voName}> ${voInstName}List);
}