package ${convertPackage};

import org.mapstruct.Mapper;
import ${package.Entity}.${entity};
import ${voPackage}.${voName};
import ${baseConvertPackage}.BaseConvert;

/**
 * $!{table.comment} 转换类
 * @author ${author}
 * @date ${cfg.datetime}
 */
@Mapper(componentModel = "spring")
public interface ${convertName} extends BaseConvert<${entity}, ${voName}> {
}