package ${configPackage};

import org.mybatis.spring.annotation.MapperScan;
import org.springframework.context.annotation.Configuration;

/**
 * MybatisPlus配置类
 * @author ${author}
 * @date ${cfg.datetime}
 */
@Configuration
@MapperScan({"${sourceParentPackage}.mapper", "${sourceParentPackage}.*.mapper"})
public class MybatisPlusConfig {

}
